.allCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.allCards div{
    width : 300px;
    height: 300px;
    margin: 10px;
}

.allCards div img {
    width : 50%;
    height: 50%;  
}

/* .flipped .front {
    transform:rotateY(90deg)
 
}

.allCards .front{
    transform:rotateY(0deg) ; 
     position: absolute;
} */